@reference 'tailwindcss';
:root {
  --ck-color-focus-border: var(--editor-color-focus-border);
  --ck-content-font-family: var(--editor-content-font-family);
  --ck-color-base-background: var(--editor-color-base-background);
  --ck-color-base-border: var(--editor-color-base-border);
  --ck-content-font-color: var(--editor-content-font-color);
  --ck-color-text: var(--editor-color-text);
  --ck-color-button-default-hover-background: var(
    --editor-color-button-default-hover-background
  );
  --ck-color-button-default-hover-color: var(
    --editor-color-button-default-hover-color
  );
  --ck-color-button-on-hover-background: var(
    --editor-color-button-on-hover-background
  );
  --ck-color-button-default-active-background: var(
    --editor-color-button-default-active-background
  );
  --ck-color-button-on-active-background: var(
    --editor-color-button-on-active-background
  );
  --ck-color-split-button-hover-background: var(--editor-color-split-button-hover-background);
  --ck-focus-outer-shadow: var(--editor-focus-outer-shadow);
  --ck-color-button-on-background: var(--editor-color-button-on-background);
  --ck-color-button-on-color: var(--editor-color-button-on-color);
  --ck-color-tooltip-text: var(--editor-color-tooltip-text);
  --ck-color-toolbar-background: var(--editor-color-toolbar-background);
}

@media print {
  body {
    margin: 0 !important;
  }
}

.main-container {
  font-family: var(--ck-content-font-family);
  width: 100%;
}

.editor-container_classic-editor .editor-container__editor {
  @apply shadow;
  min-width: 100%;
  max-width: 100%;
}

.editor-container__editor .ck-editor__editable {
  @apply min-h-80;
}

.ck-source-editing-area textarea {
  left: 0;
  top: 0;
}

.ck-content h3.category {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: "Oswald";
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content .button {
  display: inline-block;
  width: 260px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.ck-content .button--green {
  background-color: #406b1e;
}

.ck-content .button--black {
  background-color: #141517;
}

.ck.ck-toolbar .ck-button:hover,
.ck.ck-toolbar .ck-button:focus,
.ck.ck-toolbar .ck-button:active {
  color: var(--ck-color-button-default-hover-color) !important;
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border: none;
}
