.story-post {
  @apply flex flex-row gap-4 min-w-[400px] blur-0 relative w-1/2 mx-auto bg-[--color-glass-100] rounded-lg p-4 shadow-lg border border-l-[--color-glass-500] backdrop-blur-lg border-t-[--color-glass-500] border-r-[--color-glass-200] border-b-[--color-glass-200];
  transition-property: flex-direction;
  transition-duration: 10s;
  transition-timing-function: ease-in-out;
}

.story-post>.story-content .story-textarea {
  @apply flex p-2 w-full min-h-12 m-0 text-black bg-white outline-none shadow-md resize-none overflow-hidden placeholder-gray-400 text-sm border-t-[--color-glass-500] border-l-[--color-glass-500] border-r-[--color-glass-200] border-b-[--color-glass-200] border tracking-wide rounded-md;
  transition-property: min-height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.story-post:has(.story-textarea:focus) {
  flex-direction: column;
}

.story-post > .header {
  @apply flex flex-row;
}

.story-post > .header > .avatar {
  @apply flex shadow-md items-center flex-none justify-center h-10 w-10 rounded-full bg-[--color-glass-200] border border-t-[--color-glass-500] border-l-[--color-glass-500] border-r-[--color-glass-200] border-b-[--color-glass-200];
}

.story-post > .header > .avatar > img {
  @apply h-full w-full rounded-full border-2 border-white;
}

.story-post > .header > .user-info {
  @apply flex flex-col tracking-wide text-black text-sm my-auto invisible w-0;
}



.story-post:has(.story-textarea:focus) > .header > .user-info {
  @apply visible w-auto;
}

.story-content {
  @apply flex flex-col gap-2 flex-grow;
}

.story-textarea:focus {
  min-height: 128px;
}

.file-stack {

}