.btn {
  @apply px-5 py-2.5 text-sm font-medium rounded-lg cursor-pointer bg-none mb-0 whitespace-nowrap;
}

.btn.btn-sm {
  @apply px-3 py-1.5 text-sm font-medium rounded-sm h-9 min-w-16;
}

.btn.btn-md {
  @apply px-5 py-2.5 text-sm font-medium rounded-lg h-11 min-w-22;
}

.btn.btn-lg {
  @apply px-6 py-3 text-base font-semibold rounded-xl h-13 min-w-30;
}

.btn.btn-outline-primary {
  @apply text-blue-500 bg-transparent border border-blue-500 hover:bg-blue-500 hover:text-white transition;
}

.btn.btn-primary {
  @apply text-white bg-blue-500 hover:bg-blue-600 transition;
}
