
@import "./assets/styles/styles.css";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


:root {
  background: var(--color-surface-0);
  font-family: Roboto, Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1920px;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: transform 0.5s, opacity 0.5s, filter 0.5ms, background;
  transition-timing-function: ease-in-out;
  min-height: 100vh;
  min-width: 320px;
  overflow: auto;
}

/* body[data-theme="dark-theme"] {
  --bg-layer-1: var(--color-black-400);
  --bg-layer-2: var(--color-black-300);
  --bg-layer-3: var(--color-black-200);
  --bg-layer-4: var(--color-black-100);
  --field-color: var(--color-black-200);
  --text-color: var(--color-primary-white);
  --border-color: var(--color-black-100);
  --h1-color: var(--color-primary-white);
  --backdrop-modal-color: var(--color-black-400);

  background: var(--bg-layer-1);
  color: var(--text-color);
}

body[data-theme="standard-theme"] {
  --bg-layer-1: var(--color-white-500);
  --bg-layer-2: var(--color-white-400);
  --bg-layer-3: var(--color-white-300);
  --bg-layer-4: var(--color-white-200);
  --field-color: var(--color-field-light);
  --text-color: var(--color-primary-dark);
  --border-color: var(--color-black-100);
  --h1-color: var(--color-blue-500);

  background: var(--bg-layer-1);
  color: var(--text-color);
}

body[data-theme="light-theme"] {
  --bg-layer-1: var(--color-white-300);
  --bg-layer-2: var(--color-white-500);
  --bg-layer-3: var(--color-white-400);
  --bg-layer-4: var(--color-white-200);
  --field-color: var(--color-field-light);
  --text-color: var(--color-primary-dark);
  --border-color: var(--color-black-100);
  --h1-color: var(--color-blue-500);

  background: var(--bg-layer-1);
  color: var(--text-color);
}

body[data-theme] .bg-layer-1 {
  @apply bg-[var(--bg-layer-1)];
}

body input:focus {
  outline: none;
}

body[data-theme] .bg-layer-2 {
  @apply bg-[var(--bg-layer-2)];
}

body[data-theme] .bg-layer-3 {
  @apply bg-[var(--bg-layer-3)];
}

body[data-theme] .border-app {
  @apply border border-solid border-[var(--border-color)];
}

body[data-theme="light-theme"] .border-app {
  @apply border-none;
}

body[data-theme] .field-color-app {
  @apply bg-[var(--field-color)] shadow;
}

body[data-theme] h1 {
  @apply text-[var(--h1-color)];
}

/* table */
/* body[data-theme] table,
body[data-theme] th,
body[data-theme] td {
  @apply border border-[var(--border-color)];
}

body[data-theme] table thead {
  @apply bg-[var(--bg-layer-3)];
}
body[data-theme] table tbody,
body[data-theme] table tfoot {
  @apply bg-[var(--bg-layer-2)];
}  */
