@keyframes animateProgressX {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes animateProgressY {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

div.animateProgressX::after {
  animation: animateProgressX var(--progress-duration, 10s) forwards;
}

div.animateProgressY::after {
  animation: animateProgressY var(--progress-duration, 10s) forwards;
}